.HeaderHeaderButtonContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:flex-end;
    flex-wrap: wrap;
    width: 50%;
    
    button{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 3px solid #000000;
        box-shadow: 2px 2px 0px 0px #000000;
        font-size: 36px;
        font-weight: 700;
        cursor: pointer;
        margin-right: 5%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    
    button:active{
        box-shadow: 1px 1px 0px 0px #000000;
    }
}