.HeaderCard{
    height: 400px;
    width: 250px;
    border: 3px solid #000000;
    border-radius: 16px;
    margin: auto;
    box-shadow: 3px 3px 0px 0px #000000;
    position: absolute;
    background-color: #FFFFFF;
}

.HeaderCardBody{
    width: 100%;
    height: 79.25%;
    border-bottom: 3px solid #000000;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.HeaderCardPatch{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid #000000;
    box-shadow: 3px 3px 0px 0px #000000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #FFFFFF;

    img{
        position: absolute;
        width: 120px;
        height: 120px;
        margin: auto;
        animation: antiSpin 10s linear infinite;
    }
}

@keyframes antiSpin {
    100%{
        transform: rotate(-360deg);
    }
}

.HeaderPatchText{
    position: absolute;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.HeaderCardTitle{
    width: 100%;
    height: 20%;
    border-radius: 0px 0px 14px 14px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #00ff75;

    span{
        font-family: 'Caveat', cursive !important;
        font-size: 32px;
    }
}